@charset "UTF-8";

html {
    font-size: 100%;
    color: #333;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif, "游ゴシック体", YuGothic, "游ゴシック";
}

body p, ul, ol {
    margin-left: 4rem;
    margin-right: 4rem;
}

h1 {
    font-family: 'Cherry Swash', cursive;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: silver white silver white;
    padding: 10px;
}

h2 {
    display: inline-block;
    margin-top: 4rem;
    margin-left: 12px;
    padding: 4px 0 4px 8px;
    color: #222;
    border-left: 3px solid #222;
}

h3 {
    padding-left: 2rem;
}

p {
    text-align: justify;
    line-height: 1.7;
    font-size: 18px;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

div {
    text-align: center;
}

.certificate-photo_row {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 20px;
}

.certificate-photo_col {
    height: 100%;
    max-height: 200px;
    width: auto;
    margin: 20px;
}

.img-group {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 0.5em;
}

.img-group img {
    width: auto;
    max-width: 22%;
    height: 20%;
    margin: 1.5em;
}

/* ライトモード */
@media (prefers-color-scheme: light) {
    h1 {
        color: #00a096;
    }

    a:hover {
        color: #0bd;
    }
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    h1 {
        border-color: skyblue black skyblue black;
        color: yellow;
    }

    h2 {
        color: white;
        border-left: 3px solid white;
    }

    a {
        color: #9cf;
    }

    a:hover {
        color: #39f;
    }
}
