@charset "UTF-8";

html {
    font-size: 100%;
    color: #333;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif, "游ゴシック体", YuGothic, "游ゴシック";
}

main, nav {
    margin-left: 2rem;
    margin-right: 2rem;
}

nav, section {
    margin-bottom: 4rem;
}

section > :not(h2) {
    margin-left: 2rem;
    margin-right: 2rem;
}

#modify {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Cherry Swash', cursive;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: silver white silver white;
    padding: 10px;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

h2 {
    display: inline-block;
    margin-top: 4rem;
    margin-left: 12px;
    padding: 4px 0 4px 8px;
    color: #222;
    border-left: 3px solid #222;
}

h3 {
    padding-left: 2rem;
}

ul li {
    list-style: none;
    background-color: #fafafa;
    padding: 0.6rem 1rem;
    border-radius: 16px;
    margin: 0.4rem 0;
    font-size: 16px;
    transition: transform 0.2s,
                box-shadow 0.2s;
    border: 2px solid #bbb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul li a {
    /* display: block; */
    /* color: inherit; */
    font-weight: bold;
}

ul li:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-color: #222;
    border-width: 2px;
}

p:not(#copyright) {
    text-align: justify;
    line-height: 1.7;
    font-size: 18px;
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
}

div {
    text-align: center;
}

.certificate-photo_row {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 20px;
}

.certificate-photo_col {
    height: 100%;
    max-height: 200px;
    width: auto;
    margin: 20px;
}

.img-group {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 0.5em;
}

.img-group img {
    width: auto;
    max-width: 22%;
    height: 20%;
    margin: 1.5em;
}

#copyright {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}

/* ライトモード */
@media (prefers-color-scheme: light) {
    h1 {
        color: #00a096;
    }

    a:hover {
        color: #0bd;
    }
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    h1 {
        border-color: skyblue black skyblue black;
        color: yellow;
    }

    h2 {
        color: white;
        border-left: 3px solid white;
    }

    a {
        color: #9cf;
    }

    a:hover {
        color: #39f;
    }
}
